.admin {
  font-family: 'NotoSansKR';
  display: flex;
  flex-direction: row;
  background: #eee;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 13px;
  color: #2b2b2b;

  .admin__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
  }
}